{% extends "layout.html" %}
{% block title %}Acuerdos Detalle {% endblock %}
{% block head %}

{{ super() }}

{% endblock %}
{% block content %}
     <div class="container mt-5">
                  <h3>Residencias clasificadas por Estrato de Uso</h3>
         <div class="row">
             <div class="col-sm">
                 <div class="row">
                        <form action="{{ url_for('muestreo') }}" method="POST" name="data" id="data">

                             <div class="form-group">
                                   <label for="ciudad"> Seleccione una ciudad</label>
                                   <select class="form-control" name="ciudad" id="ciudad">
                                         <option value="Bogota" selected>Bogota</option>
                                        <option value="Medellin">Medellin </option>
                                        <option value="Barranquilla" >Barranquilla</option>
                                        <option value="Cali">Cali</option>
                                    </select>
                             </div>
                  <div>
                       <label for="proporcion"> Seleccione tipo de Proporcion</label><br>
                    <select class="form-control"  name="proporcion" id="proporcion">
                        <option value="prop1" selected>No Proporcional</option>
                        <option value="prop2" >Proporcional</option>

                    </select>
                          <label for="tipoes"> Seleccione tipo de estrato de muestreo</label><br>
                    <select class="form-control"  name="tipoes" id="tipoes">
                        <option value="es" selected> Estrato Socioeconomico</option>
                        <option value="loc" >Localidad</option>
                        <option value="csus" >Tipo de Residencia </option>
                    </select>
                  </div>

                    <label for="punto1"> Ingrese los puntos por estrato (No-Proporcional)</label><br>
                    <input class="form-control"  type="number" name="puntos1" id="puntos1" value=1></input><br>
                    <label for="punto2"> Ingrese la proporcion por grupo (Proporcional)</label><br>
                    <input class="form-control"  type="number" name="puntos2" id="puntos2" value=1></input><br>
                    <button class="btn btn-primary">Generar Puntos</button>
                    <a class="btn btn-success" href="/download/muestreo"> Descargar Puntos</a>
                </form>
                 </div>

                   <div class="row leyendabox">
                       <div>
                            <svg class="circle" viewBox="0 0 24 24">
                                     <circle cx="10" cy="10" r="4" fill="Tomato"/>
                            </svg>
                           <span class="leyenda"> Estrato 1</span>
                       </div>
                         <div >
                            <svg class="circle" viewBox="0 0 24 24">
                                     <circle cx="10" cy="10" r="4" fill="Olive"/>
                            </svg>
                           <span class="leyenda"> Estrato 2</span>
                       </div>
                        <div >
                            <svg class="circle" viewBox="0 0 24 24">
                                     <circle cx="10" cy="10" r="4" fill="RoyalBlue"/>
                            </svg>
                           <span class="leyenda"> Estrato 3</span>
                       </div>
                        <div >
                            <svg class="circle" viewBox="0 0 24 24">
                                     <circle cx="10" cy="10" r="4" fill="DarkSeaGreen"/>
                            </svg>
                           <span class="leyenda"> Estrato 4</span>
                       </div>
                        <div >
                            <svg class="circle" viewBox="0 0 24 24">
                                     <circle cx="10" cy="10" r="4" fill="Purple"/>
                            </svg>
                           <span class="leyenda"> Estrato 5</span>
                       </div>
                        <div >
                            <svg class="circle" viewBox="0 0 24 24">
                                     <circle cx="10" cy="10" r="4" fill="Gold"/>
                            </svg>
                           <span class="leyenda"> Estrato 6</span>
                       </div>


         </div>
             </div>
             <div class="col-sm">
                  <div id="map" class="map"></div>
                  <div class="card">
                        <h5 class="card-title" id="pdir">Direccion</h5>
                        <h6 class="card-subtitle mb-2 text-muted" id="pestr">Estrato</h6>
                         <h6 class="card-subtitle mb-2 text-muted" id="pcat">Categoria</h6>
                        <a id="glink" href="#" target="_blank">Mirar punto seleccionado en Google Maps</a>
                  </div>

             </div>
         </div>





         </div>
        <div class="container mt-5 overflow-auto" id="coortable">
            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Direccion</th>
                    <th>Categoria</th>
                    <th>Estrato</th>

                </tr>
                </thead>
                <tbody id="tablebody">

                </tbody>
            </table>

         </div>
</body>
<script>
   const sample = {{ sample | safe }}
   console.log(sample)
   const tablebody = document.getElementById("tablebody")
    const glink = document.getElementById("glink")
    const pdir = document.getElementById("pdir")
   const pestr = document.getElementById("pestr")
const pcat = document.getElementById("pcat")

   for (let e of sample.features){
       tr = document.createElement("tr")
       tdid = document.createElement("td")
       tdid.innerText = e.id
       tddir = document.createElement("td")
       tddir.innerText =e.properties.direccion
       tdcat = document.createElement("td")
       tdcat.innerText = e.properties.cat
       tdes = document.createElement("td")
       tdes.innerText = e.properties.estrato
       tr.appendChild(tdid)
       tr.appendChild(tddir)
       tr.appendChild(tdcat)
       tr.appendChild(tdes)
       tablebody.appendChild(tr)
   }

           var styles = {
                'MultiPolygon': new ol.style.Style({
                stroke: new ol.style.Stroke({
          color: 'yellow',
          width: 1,
        }),
        fill: new ol.style.Fill({
          color: 'rgba(255, 255, 0, 0.1)',
        }),
      }),
      'Polygon': new ol.style.Style({
             stroke: new ol.style.Stroke({
          color: 'blue',
          lineDash: [4],
          width: 3,

    }),
        fill: new ol.style.Fill({
          color: 'rgba(255, 255, 0, 0.1)',
        }),
      })
        }

        const styleFunction = function (feature) {
               const f= feature.getProperties()
            console.log(f)
             const cat = f.cat
            let color = 'black'
            if (cat < 20) {
                colortext = 'black'
            }
            else if (cat < 30) {
                colortext = 'LightSkyBlue'

            }
            else if (cat < 40) {
                colortext = "Yellow"
            }
            else {
                colortext = "Indigo"
            }


             if (cat === 11) {
                colortext2 = 'black'
            }
            else if (cat === 12) {
                colortext2 = 'Cyan'

            }
            else if (cat === 13) {
                colortext2 = 'whitesmoke'
            }
            else if (cat === 21) {
                colortext2 = 'LightSkyBlue'
            }
            else if (cat === 31) {
                colortext2 = "Yellow"

            }

           return new ol.style.Style({
    image: new ol.style.Circle({

      fill: new ol.style.Fill({
        color: colortext
      }),
      stroke: new ol.style.Stroke({
        color: colortext2,
        width: 3
      }),
      radius: 5
    })
  });

        };

       var vectorSource = new ol.source.Vector({
            features: new ol.format.GeoJSON().readFeatures(sample)
        });

        var vectorLayer = new ol.layer.Vector({
            source: vectorSource,
            style: styleFunction,
        });




        var extent = vectorSource.getExtent();
        //map.getView().fit(extent);


        var map = new ol.Map({
            target: 'map',
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM()
                }), vectorLayer
            ],
            view: new ol.View({
                projection: 'EPSG:4326',
                //center of the map
                center: sample.features[0].geometry.coordinates,
                zoom: 13
            }),

        });

        console.log(map)
map.on('click', function(evt) {
    var feature = map.forEachFeatureAtPixel(evt.pixel,
      function(feature) {
        let coords = feature.getGeometry().getCoordinates();
          let linkstring = "https://www.google.com/maps/@" + coords[1] +","+ coords[0]+",60m/data=!3m1!1e3";
          glink.href = linkstring
          pdir.innerText = "Direccion: " + feature.getProperties().direccion
          pestr.innerText = "Estrato: " + feature.getProperties().estrato
           pcat.innerText = "Categoria: " + feature.getProperties().cat
      })})

</script>

{% endblock %}