{% extends "layout.html" %}
{% block title %}Acuerdos Detalle {% endblock %}
{% block head %}

{{ super() }}

{% endblock %}
{% block content %}
    </nav>
     <div class="container mt-5">
         <h3>Residencias cercanas a centros educativos</h3>
         <div class="row">
             <div class="col-sm">
            <form action="{{ url_for('prox') }}" method="POST" name="data" id="data">
                <label for="tipo"> Seleccione una ciudad</label><br>
                    <select name="tipo" id="tipo">
                        <option value="Transporte" selected>Transporte</option>
                        <option value="Educacion">Educacion </option>
                        <option value="Comercio">Comercio </option>
                    </select><br>
                    <label for="ciudad"> Seleccione una ciudad</label><br>
                    <select name="ciudad" id="ciudad">
                        <option value="Bogota" selected>Bogota</option>
                        <option value="Medellin">Medellin </option>
                        <option value="Barranquilla" >Barranquilla</option>
                        <option value="Cali">Cali</option>
                    </select><br>
                  <label for="distancia"> Distancia de busqueda (metros)</label><br>
                    <input type="number" name="distancia" id="distancia" value=1></input><br>
                  <label for="puntos"> Numero Puntos</label><br>
                <input type="number" name="puntos" id="puntos" value=1></input><br>
                    <button> Enviar datos</button>
                 <a class="btn btn-success" href="/download/muestreoprox"> Descargar Puntos</a>
                </form>
             </div>

             <div class="col-sm">
                  <div id="map" class="map"></div>
             </div>
         </div>
         <div class="row">
            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Direccion</th>

                </tr>
                </thead>
                <tbody id="tablebody">

                </tbody>
            </table>
         </div>

         </div>
</body>
<script>
   const sample = {{ sample | safe }}
   const tablebody = document.getElementById("tablebody")





           var styles = {
                'MultiPolygon': new ol.style.Style({
                stroke: new ol.style.Stroke({
          color: 'yellow',
          width: 1,
        }),
        fill: new ol.style.Fill({
          color: 'rgba(255, 255, 0, 0.1)',
        }),
      }),
      'Polygon': new ol.style.Style({
             stroke: new ol.style.Stroke({
          color: 'blue',
          lineDash: [4],
          width: 3,

    }),
        fill: new ol.style.Fill({
          color: 'rgba(255, 255, 0, 0.1)',
        }),
      })
        }

        const styleFunction = function (feature) {
               const f= feature.getProperties()
            console.log(f)

           return new ol.style.Style({
    image: new ol.style.Circle({

      fill: new ol.style.Fill({
        color: "Gold"
      }),
      stroke: new ol.style.Stroke({
        color: "Tomato",
        width: 3
      }),
      radius: 5
    })
  });

        };

       var vectorSource = new ol.source.Vector({
            features: new ol.format.GeoJSON().readFeatures(sample),
           projection: 'EPSG:3857',
        });

        var vectorLayer = new ol.layer.Vector({
            source: vectorSource,
            style: styleFunction,
        });
console.log(vectorLayer.getSource())
console.log(vectorLayer.getStyleFunction())


        var extent = vectorSource.getExtent();
        //map.getView().fit(extent);


        var map = new ol.Map({
            target: 'map',
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM()
                }), vectorLayer
            ],
            view: new ol.View({
                projection: 'EPSG:3857',
                center: sample.features[0].geometry.coordinates,
                zoom: 13
            }),

        });
   for (let e of sample.features){
       console.log(e)
       tr = document.createElement("tr")
       tdid = document.createElement("td")
       tdid.innerText = e.id
       tddir = document.createElement("td")
       tddir.innerText = e.properties.direccion


       tr.appendChild(tdid)
       tr.appendChild(tddir)

       tablebody.appendChild(tr)
   }

</script>

{% endblock %}