{% extends "layout.html" %}
{% block title %}Acuerdos Detalle {% endblock %}
{% block head %}

{{ super() }}

{% endblock %}
{% block content %}
     <div class="container mt-5">
                  <h3>Residencias clasificadas por estrato</h3>
         <div class="row">
             <div class="col-sm">
            <form action="{{ url_for('muestreo') }}" method="POST" name="data" id="data">
                    <label for="ciudad"> Seleccione una ciudad</label><br>
                    <select name="ciudad" id="ciudad">
                         <option value="Bogota" selected>Bogota</option>
                        <option value="Medellin">Medellin </option>
                        <option value="Barranquilla" >Barranquilla</option>
                        <option value="Cali">Cali</option>
                    </select><br>
                  <label for="proporcion"> Seleccione tipo de Proporcion</label><br>
                    <select name="proporcion" id="proporcion">
                        <option value="prop1" selected>No Proporcional</option>
                        <option value="prop2" >Proporcional</option>

                    </select><br>
                    <label for="punto1"> Ingrese los puntos por estrato (No-Proporcional)</label><br>
                    <input type="number" name="puntos1" id="puntos1" value=1></input><br>
                    <label for="punto2"> Ingrese la proporcion por grupo (Proporcional)</label><br>
                    <input type="number" name="puntos2" id="puntos2" value=1></input><br>
                    <button> Enviar datos</button>
                    <a class="btn btn-success" href="/download/muestreo"> Descargar Puntos</a>
                </form>
             </div>
             <div class="col-sm">
                  <div id="map" class="map"></div>
             </div>
         </div>
         <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Direccion</th>
                    <th>Estrato</th>
                </tr>
                </thead>
                <tbody id="tablebody">

                </tbody>
            </table>
         </div>

         </div>
</body>
<script>
   const sample = {{ sample | safe }}
   const tablebody = document.getElementById("tablebody")


   for (let e of sample.features){
       tr = document.createElement("tr")
       tdid = document.createElement("td")
       tdid.innerText = e.id
       tddir = document.createElement("td")
       tddir.innerText =e.properties.direccion
       tdes = document.createElement("td")
       tdes.innerText = e.properties.estrato
       tr.appendChild(tdid)
       tr.appendChild(tddir)
       tr.appendChild(tdes)
       tablebody.appendChild(tr)
   }

           var styles = {
                'MultiPolygon': new ol.style.Style({
                stroke: new ol.style.Stroke({
          color: 'yellow',
          width: 1,
        }),
        fill: new ol.style.Fill({
          color: 'rgba(255, 255, 0, 0.1)',
        }),
      }),
      'Polygon': new ol.style.Style({
             stroke: new ol.style.Stroke({
          color: 'blue',
          lineDash: [4],
          width: 3,

    }),
        fill: new ol.style.Fill({
          color: 'rgba(255, 255, 0, 0.1)',
        }),
      })
        }

        const styleFunction = function (feature) {
               const f= feature.getProperties()
            console.log(f)
            const estrato = f.estrato
            let color = 'black'
             if (estrato === 1) {
                colortext = 'Tomato'
            }
            if (estrato === 2) {
                colortext = 'Olive'

            }
            if (estrato === 3) {
                colortext = 'RoyalBlue'
            }
             if (estrato === 4) {
                colortext = 'DarkSeaGreen'
            }
            if (estrato === 5) {
                colortext = "purple"

            }
            if (estrato === 6) {
                colortext = "Gold"
            }
           return new ol.style.Style({
    image: new ol.style.Circle({

      fill: new ol.style.Fill({
        color: colortext
      }),
      stroke: new ol.style.Stroke({
        color: colortext,
        width: 3
      }),
      radius: 5
    })
  });

        };

       var vectorSource = new ol.source.Vector({
            features: new ol.format.GeoJSON().readFeatures(sample)
        });

        var vectorLayer = new ol.layer.Vector({
            source: vectorSource,
            style: styleFunction,
        });




        var extent = vectorSource.getExtent();
        //map.getView().fit(extent);


        var map = new ol.Map({
            target: 'map',
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM()
                }), vectorLayer
            ],
            view: new ol.View({
                projection: 'EPSG:4326',
                //center of the map
                center: sample.features[0].geometry.coordinates,
                zoom: 13
            }),

        });


</script>

{% endblock %}