{% extends "layout.html" %}
{% block title %}Acuerdos Detalle {% endblock %}
{% block head %}

{{ super() }}

{% endblock %}
{% block content %}
     <div class="container mt-5">
                  <h3>Visor de Muestras</h3>
         <div class="row">
             <div class="col-sm">
                  <div id="map" class="map"></div>
                  <div class="card">
                        <h5 class="card-title" id="pdir">Direccion</h5>
                        <h6 class="card-subtitle mb-2 text-muted" id="pestr">Estrato</h6>

                        <a id="glink" href="#" target="_blank">Mirar punto seleccionado en Google Maps</a>
                  </div>

             </div>
         </div>





         </div>
        <div class="container mt-5 overflow-auto" id="coortable">
            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Direccion</th>

                </tr>
                </thead>
                <tbody id="tablebody">

                </tbody>
            </table>

         </div>
</body>
<script>
   const sample = {{ sample | safe }}
   console.log(sample)
   const tablebody = document.getElementById("tablebody")
    const glink = document.getElementById("glink")
    const pdir = document.getElementById("pdir")
   const pestr = document.getElementById("pestr")


   for (let e of sample.features){
       tr = document.createElement("tr")
       tdid = document.createElement("td")
       tdid.innerText = e.id
       tddir = document.createElement("td")
       tddir.innerText =e.properties.direccion

       tr.appendChild(tdid)
       tr.appendChild(tddir)

       tablebody.appendChild(tr)
   }

           var styles = {
                'MultiPolygon': new ol.style.Style({
                stroke: new ol.style.Stroke({
          color: 'yellow',
          width: 1,
        }),
        fill: new ol.style.Fill({
          color: 'rgba(255, 255, 0, 0.1)',
        }),
      }),
      'Polygon': new ol.style.Style({
             stroke: new ol.style.Stroke({
          color: 'blue',
          lineDash: [4],
          width: 3,

    }),
        fill: new ol.style.Fill({
          color: 'rgba(255, 255, 0, 0.1)',
        }),
      })
        }

        const styleFunction = function (feature) {
               const f= feature.getProperties()
            console.log(f)
           colortext = "tomato"
           return new ol.style.Style({
    image: new ol.style.Circle({

      fill: new ol.style.Fill({
        color: colortext
      }),
      stroke: new ol.style.Stroke({
        color: "gold",
        width: 3
      }),
      radius: 6
    })
  });

        };

       var vectorSource = new ol.source.Vector({
            features: new ol.format.GeoJSON().readFeatures(sample)
        });

        var vectorLayer = new ol.layer.Vector({
            source: vectorSource,
            style: styleFunction,
        });




        var extent = vectorSource.getExtent();
        //map.getView().fit(extent);


        var map = new ol.Map({
            target: 'map',
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM()
                }), vectorLayer
            ],
            view: new ol.View({
                projection: 'EPSG:4326',
                //center of the map
                center: sample.features[0].geometry.coordinates,
                zoom: 13
            }),

        });

        console.log(map)
map.on('click', function(evt) {
    var feature = map.forEachFeatureAtPixel(evt.pixel,
      function(feature) {
        let coords = feature.getGeometry().getCoordinates();
          let linkstring = "https://www.google.com/maps/@" + coords[1] +","+ coords[0]+",60m/data=!3m1!1e3";
          glink.href = linkstring
          pdir.innerText = "Direccion: " + feature.getProperties().direccion
          pestr.innerText = "Estrato: " + feature.getProperties().estrato
      })})

</script>

{% endblock %}